.detail{
  position:fixed;
  top:0px;
  left:0px;
  background-color: #dbdbdb;
  width: 100%;
  height:850px;
  border:1px solid grey;
  padding: 0.5% 3% 0.5% 3%;
  z-index:98;
}

.detail > div{
  width: 30%;
  background-color: #FFFF;
  border: 1px solid #0076B9;
  border-radius:8px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top:10%;
  text-align: center;
}
