<div class="detail" *ngIf="showPayShepherd === true">
  <div>
    <div style="width: 100%;text-align: center;">
      <strong style="color:#0075b99d">Saldo meses anteriores: ${{shepherdProfitBalance}}</strong>
      <br>
      <strong style="color:#0076B9">Saldo mes actual: ${{shepherdProfit}}</strong>
      <br>
      <br>
      <strong style="color:#0076B9;border: 0.5px solid #0076B9;padding:1%">A cobrar: ${{shepherdProfit+shepherdProfitBalance}}</strong>
    </div>
    <br>
    <div style="display:inline-flex;text-align: center;">
      <button class="btn btn-primary"
              style="margin-right:3%;width:100px"
              *ngIf="(shepherdProfit+shepherdProfitBalance) > 0"
              (click)="payShepherd()">
              Pagar
            </button>
      <button class="btn btn-danger" style="width:100px" (click)="showPayShepherd = false">Salir</button>
    </div>
  </div>
</div>
<div class="detail" *ngIf="showAvailableDetail === true">
  <div>
    <div style="width: 100%;text-align: center;">
      <strong style="color:#0075b99d">Saldo mes anterior: ${{availableBalance}}</strong>
      <br>
      <strong style="color:#0076B9">Saldo mes actual: ${{available}}</strong>
      <br>
      <br>
      <strong style="color:#0076B9;border: 0.5px solid #0076B9;padding:1%">Total Disponible: ${{available + availableBalance}}</strong>
    </div>
    <br>
    <div style="display:inline-flex;text-align: center;">
      <button class="btn btn-danger" style="width:100px" (click)="showAvailableDetail = false">Salir</button>
    </div>
  </div>
</div>
<div class="detail" *ngIf="showIngressDetail === true">
  <div>
    <div style="width: 100%;text-align: center;">
      <strong style="color:#0075b99d">Total Diezmos: ${{tithesMonth}}</strong>
      <br>
      <strong style="color:#0076B9">Total Ofrendas: ${{offeringsMonth}}</strong>
      <br>
      <strong style="color:#0076B9">Total Donaciones: ${{donationsMonth}}</strong>
      <br>
      <br>
      <strong style="color:#0076B9;border: 0.5px solid #0076B9;padding:1%">Total Ingresos: ${{tithesMonth + offeringsMonth + donationsMonth}}</strong>
    </div>
    <br>
    <div style="display:inline-flex;text-align: center;">
      <button class="btn btn-danger" style="width:100px" (click)="showIngressDetail = false">Salir</button>
    </div>
  </div>
</div>
<div class="detail" *ngIf="showEgressDetail === true">
  <div style="width: 60%;">
    <div style="width: 100%;text-align: center;">
      <table class="table" style="color:#FFFF">
        <thead>
          <tr class="bg-secondary">
            <th>Fecha</th>
            <th>Motivo</th>
            <th>Importe</th>
            <th>Sede</th>
            <th>Operador</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let order of ordersMonth">
            <tr *ngIf="order.branch === branchSelect && order.action === 'egress' || order.action === 'pastor'" [ngClass]="order.action === 'ingress'? 'bg-primary':'bg-danger'">
              <td>{{order.date}}</td>
              <td>{{order.motive}}</td>
              <td>${{order.amount}}</td>
              <td>{{order.branch}}</td>
              <td>{{order.operator}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br>
      <strong style="color:#0076B9;border: 0.5px solid #0076B9;padding:1%">Total Egresos: ${{egressMonth}}</strong>
    </div>
    <br>
    <div style="display:inline-flex;text-align: center;">
      <button class="btn btn-danger" style="width:100px" (click)="showEgressDetail = false">Salir</button>
    </div>
  </div>
</div>

<div style="border-radius:10px;background-color: #FFFF;padding:1%;margin-top:2%;text-align: center;">
  <div>
    <h5 style="color:#727272;font-size: 16px;">{{getMonthName()}}</h5>
    <div style="display:inline-flex;text-align: center;">
      <div class="btn btn-outline-success" style="width:100px;" (click)="showAvailableDetail = true"><strong style="font-size:10px">DISPONIBLE</strong><br>${{available + availableBalance}}</div>
      <div class="btn btn-outline-primary" style="width:100px;" (click)="showIngressDetail = true"><strong style="font-size:10px">INGRESOS</strong><br>${{ingressMonth}}</div>
      <div class="btn btn-outline-danger" style="width:100px;" (click)="showEgressDetail = true"><strong style="font-size:10px">EGRESOS</strong><br>${{egressMonth}}</div>
    </div>
  </div>
  <br>
  <button class="btn" [ngClass]="(shepherdProfit+shepherdProfitBalance) > 0 ? 'btn-primary':'btn-secondary'" (click)="showPayShepherd = true">Salario Pastor</button>

</div>
<hr>
<div>
  <div>
    <div style="width:80%;box-sizing:content-box;margin-left:10%;margin-right:10%;margin-top:0%;border-radius:8px;">
      <div>
        <button type="button" class="btn btn-primary" (click)="showInput('ingress')" style="background:#0076B9;border-radius:0px 10px 0px 0px;">Ingreso</button>
        <button type="button" class="btn btn-danger" (click)="showInput('egress')" style="border-radius:0px 10px 0px 0px">Egreso</button>
        <button type="button" class="btn btn-secondary" style="border-radius:0px 10px 0px 0px" (click)="history=true">Histórico</button>
        <form style="display:inline-flex;float: right;">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrar</button>
        </form>
      </div>

      <app-ingress-egress [action]="action"
                          [user]="user"
                          [branchSelect]="branchSelect"
                          (reloadOrders)="reloadData(true)"
                          *ngIf="history === false">
                        </app-ingress-egress>
      <div  *ngIf="history" style="width:100%;height:400px;overflow-y: scroll;border-radius:8px;background:#DBDBDB">
        <app-history [branchSelect]="branchSelect" [orders]="orders"></app-history>
      </div>
    </div>
  </div>

</div>


