<div style="width: 100%;min-height:850px;background:#0076B9;padding: 5%;">
  <div class="wrapper">
    <div *ngIf="textError !== null" style="width:300px;border:1px solid red;padding:2%;border-radius:15px">

      <button class="btn btn-outline-danger"
              style="float:right"
              (click)="textError=null">x</button>

      <div style="width:100%;margin-top:5%">
        <span style="color:red;text-align: center;padding-left:2%">{{textError}}</span>
      </div>

    </div>
    <div id="formContent" *ngIf="textError === null">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img  src=".//assets/img/logo_iglesia_gilgal.png"
              id="icon"
              alt="User Icon"
              />
      </div>
      <br>

      <!-- Login Form -->
      <form>
        <input  type="email"
                id="login"
                [(ngModel)]="user.user"
                name="login"
                placeholder="Ingrese su E-mail">

        <br>
        <br>


        <input  type="password"
                [attr.disabled]="user.user === null ? true:null"
                id="password"
                [(ngModel)]="user.pass"
                name="login"
                placeholder="Ingrese su contraseña">

        <br>
        <br>


        <button [attr.disabled]="user.pass === null ? true:null"
                class="btn btn-primary"
                (click)="retrieveUsers()">Ingresar</button>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter" *ngIf="user.pass !== null">
        <a class="underlineHover" href="#">Olvidó su contraseña?</a>
      </div>

    </div>
  </div>
</div>

