.navbar{
  position:fixed;
  top:0px;
  width:100%;
  background:#0076B9;
  color:#FFFF;
  padding-left: 2%;
  padding-right: 2%;
  filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
  z-index: 99;
}
.ClosePopUp{
  width:200px;
  height:70px;
  padding:1%;
  position: fixed;
  right:10px;
  top:50px;
  background:#DBDBDB;
  border-radius:12px;
  text-align: center;
  filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
}
img{
  width:50px;
  height: 50px;
  filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
}
