<nav class="navbar">
  <img src=".//assets/img/logo_iglesia_gilgal.png" alt="logo">
  <a class="navbar-brand">Sistema Contable Iglesia Gilgal</a>
  <div style="width: 50%;margin-left:auto;margin-right: auto;border: 1px solid #FFFF;border-radius:5px">
    <h5 style="color:white;text-align: center;padding:0.5%">Sede {{branchSelect}}</h5>
  </div>
  <button class="btn btn-primary" (click)="closePopup()">{{user.name}}</button>
</nav>

<div *ngIf="closePopUp === true" class="ClosePopUp">
  <button class="btn btn-danger" (click)="closeSession()" style="margin-right:1%">Salir</button>
  <button class="btn btn-primary" (click)="closePopUp = false">Cancelar</button>
</div>
