<app-header [user]="user" [branchSelect]='branchSelect'></app-header>
<div style="margin-top:5%">
  <div style="width:100%;display:inline-flex" *ngIf="registration === false">

    <div style="width:18%;margin-right:1%; background:#0076B9;padding:1%;border-radius:8px;">
      <ul class="list-group">
        <ng-container *ngFor="let branch of churchBranch">
          <li class="list-group-item" style="filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));"
              [ngClass]="branchSelect === branch ? 'active': ''"
              (click)="branchSelect = branch">
                {{branch}}
            </li>
        </ng-container>
      </ul>
    </div>

    <div style="width: 80%;margin-right: 1%;" *ngIf="cashRegister === false">
      <div style="background: #DBDBDB;border-radius:10px;padding:1%;box-sizing: content-box;">
        <div style="display:inline-flex;width: 100%;">

          <button class="btn btn-secondary"
                  [ngClass]="profile===false ? 'active':''"
                  style="width: 47.5%;margin-right: 5%;"
                  (click)="profile=false">Estadísticas</button>

          <button class="btn btn-secondary"
                  [ngClass]="profile===true ? 'active':''"
                  style="width: 47.5%;"
                  (click)="profile=true">Administración</button>
        </div>

        <div *ngIf="profile === true" style="border-radius:10px;background-color: #FFFF;padding:3%;margin-top:2%">

          <div style="width:100%;text-align: center;padding:0%">
            <div style="width: 100%;margin-bottom:3%">
              <button type="button" class="btn btn-secondary" (click)="cashRegister = true">Abrir Caja</button>
            </div>
            <br>
            <hr>
            <button type="button"
                    class="btn btn-outline-primary"
                    (click)="registration=true;userEdit=user">
                    Modificar mis datos
                  </button>

            <button type="button"
                    class="btn btn-outline-success"
                    (click)="registration=true;userEdit=null">
                    Crear un usuario
                  </button>

            <button type="button"
                    class="btn btn-outline-danger">
                    Eliminar un usuario
                  </button>
          </div>

        </div>

        <div *ngIf="profile === false">
          <br>
          <app-graphics></app-graphics>
          <hr>
          <br>
          <app-graphicstithesandofferings></app-graphicstithesandofferings>
        </div>

      </div>
    </div>

    <div style="width: 80%;margin-right: 1%;" *ngIf="cashRegister === true">
      <button class="btn btn-danger" style="float: right;margin-bottom:1%" (click)="cashRegister = false">x</button>
      <app-cash-register  [branchSelect]="branchSelect"
                          [user]="user"
                          [orders]="orders"
                          [ingressMonth]="ingressMonth"
                          [egressMonth]="egressMonth"
                          [tithesMonth]="tithesMonth"
                          [offeringsMonth]="offeringsMonth"
                          [donationsMonth]="donationsMonth"
                          [available]="available"
                          [shepherdProfit]="shepherdProfit"
                          [ingressBalance]="ingressBalance"
                          [egressBalance]="egressBalance"
                          [tithesBalance]="tithesBalance"
                          [offeringsBalance]="offeringsBalance"
                          [donationsBalance]="donationsBalance"
                          [availableBalance]="availableBalance"
                          [shepherdProfitBalance]="shepherdProfitBalance"
                          (reloadOrders)="reloadOrders($event)" >
          </app-cash-register>
    </div>

  </div>

  <div *ngIf="registration === true">
    <button class="btn btn-danger" style="float:right" (click)="registration=false; userEdit=null">x</button>
    <app-userresgistration [userEdit]="userEdit"></app-userresgistration>
  </div>

  <app-footer></app-footer>
</div>


