<div *ngIf="orderPrint !== null" style="position:fixed;top:0px;left:0px;z-index:98;width:100%;height:850px;background:#EAEDED">
  <div style="width: 20%;margin-left:auto;margin-right: auto;margin-top:10%">
    <div id="orderPrint" style="width:200px;margin-left:auto;margin-right: auto;">
      <div>
        <h3 style="text-align: center;font-size:14px;">Iglesia Centro de adoración Gilgal</h3>
        <span style="font-size:12px">Recibo N°: {{orderPrint.id}}</span>
        <br>
        <span style="font-size:12px"> {{orderPrint.date + ' ' + getTime()}}</span>
        <br>
        <br>
        <h5 style="text-align: center;font-size:14px">{{orderPrint.motive}}</h5>
        <br>
        <div>
          <p style="font-size:12px"> Recibimos del señor/a {{orderPrint.taxpayer}} la suma de ${{orderPrint.amount}} (Pesos) en concepto de {{orderPrint.motive}}</p>
        </div>
        <br>
        <br>
        <br>
        <div style="width: 100%;text-align: center;font-size:12px">{{orderPrint.taxpayer}}<br>Dador</div>
        <br>
        <br>
        <div style="width:100%;text-align: center;font-size:12px">Tesorero: {{orderPrint.operator}}</div>
      </div>
    </div>
    <br>
    <div style="width:100%;text-align: center;">
      <button class="btn btn-primary" (click)="print()">Imprimir</button>
    </div>
  </div>
</div>
<div [ngStyle]="{'background': this.action === 'ingress'? '#0076B9': '#dc3545'}" style="filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));border-radius:0px 8px 8px 0px;height:400px">

  <div style="text-align: center;color:#FFFF;padding-top:3%">{{getMotive()}}</div>

  <div *ngIf="action === 'ingress'" style="padding: 3%;">

    <form>

      <div class="form-check">

        <input  [(ngModel)]="order.motive"
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="diezmo">

        <label class="form-check-label" for="exampleRadios1" style="color:#FFFF">
          Diezmo
        </label>

      </div>
      <div class="form-check">

        <input  [(ngModel)]="order.motive"
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios2"
                value="ofrenda">

        <label class="form-check-label" for="exampleRadios2" style="color:#FFFF">
          Ofrenda
        </label>

      </div>
      <div class="form-check">

        <input  [(ngModel)]="order.motive"
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios2"
                value="donacion">

        <label class="form-check-label" for="exampleRadios2" style="color:#FFFF">
          Donación
        </label>

      </div>
      <br>

      <div class="row">
        <div class="col-8">
          <input  [(ngModel)]="order.taxpayer"
                  name="taxpayer"
                  type="text"
                  class="form-control"
                  placeholder="Nombre">
        </div>

        <div class="col-2">
          <label class="sr-only" for="inlineFormInput">Importe</label>
          <input  [(ngModel)]="order.amount"
                  name="amount"
                  type="number"
                  class="form-control"
                  id="inlineFormInput"
                  placeholder="$0">
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-primary" style="float:float" (click)="charge()">Cargar</button>
        </div>

      </div>

    </form>

  </div>
  <div *ngIf="action === 'egress'" style="padding: 3%;">
    <form>
      <div class="row">
        <div class="col-8">
          <label class="sr-only" for="inlineFormInput">Concepto</label>
          <input [(ngModel)]="order.motive" name="motive" type="text" class="form-control" id="inlineFormInput" placeholder="Motivo del egreso">
        </div>
        <div class="col-2">
          <label class="sr-only" for="inlineFormInput">Importe</label>
          <input [(ngModel)]="order.amount" name="amountEgress" type="number" class="form-control" id="inlineFormInput" placeholder="$0">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" style="float:right" (click)="charge()">Cargar</button>
        </div>
      </div>

    </form>
  </div>

</div>

