<div style="width: 100%;filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));" *ngIf="orders !== null">
  <table class="table" style="color:#FFFF">
    <thead>
      <tr class="bg-secondary">
        <th>Fecha</th>
        <th>Acción</th>
        <th>Motivo</th>
        <th>Importe</th>
        <th>Contribuyente</th>
        <th>Sede</th>
        <th>Operador</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders">
        <tr *ngIf="order.branch === branchSelect" [ngClass]="order.action === 'ingress'? 'bg-primary':'bg-danger'">
          <td>{{order.date}}</td>
          <td>{{order.action}}</td>
          <td>{{order.motive}}</td>
          <td>${{order.amount}}</td>
          <td>{{order.taxpayer}}</td>
          <td>{{order.branch}}</td>
          <td>{{order.operator}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
